.navBar{
  width:120px;
  position: relative;
  background-color: black;
  transition: position 2s;

  ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  color:white;
  
 
  li{
    text-decoration: none;
  }

  .icon{
    position: absolute;
     left:100px;;
  }
}
}

.home{
  display: flex;
}

 .active{
    left:-10px;
  }

  .comp{
    left:-100px;
  }

  .menu{
  cursor: pointer;
  }

p{
  margin-left:120px;
}